        body {
            scroll-behavior: smooth;
        }

        nav{
            background-color:  #0a0c10;
            color: whitesmoke;
        }

        nav a {
            color: whitesmoke !important;
        }

        .nav-link{
            color: whitesmoke !important;
        }

        .hero {
            /* background-image: url('../assets/frantisek-canik-k6RsU8om2UE-unsplash.jpg'); */
            background-color: #0c0503a3;
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 70vh;
            color: white;
            padding: 100px 0;
        }


        #services{
            background-color: #0a0c10;
            color: whitesmoke;
        }

        .section-title {
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
        }

        .service-card img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        .service-card-text{
            padding: 25px;
        }

        .service-card, .pricing-card {
            border-radius: 20px;
            background: #f8f9fa;
            transition: .2s;
            color: #0a0c10;
            
        }
        
        #pricing{
            background-color: rgb(221, 232, 237);
        }

        .side-img{
            width: 500px;
            height: 350px;
            object-fit: cover;
        }

        .service-card:hover, .pricing-card:hover {
            transform: translateY(-5px);
        }
        .dark-section {
            background: #111318;
            color: white;
            padding: 80px 0;
        }
        .footer {
            background: #0a0c10;
            padding: 40px 0;
            color: #ccc;
        }
        .footer a { color: #fff; }